<a href="https://colab.research.google.com/github/Duke-CNRI/python-intro/blob/main/lectures/lecture_2_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Class 2: Variables, Data Types, Control Flow, Galore!

Created by Raphael Geddert, edited by Abby Hsiung


Welcome to week 2 of the CNRI Python and programming introductory course! Today's course will cover variables, evaluations, and control flow. Let's get started!

### Objective:

To learn the foundational elements of Python, including variables and data types.
To learn the basic structure for communicating instructions through Python. 

### Learning Outcomes:
- What is a variable and how do we define them?
- Explore the different types of variables and why variable specification matters
- Get familiar with the concept of Booleans and conditionality

### Homework:
- Finish reviewing this Notebook

-------------

## Introduction to Variables

Any program, such as a social media website, a phone application, or an online video game, needs to work with and store information. This information might be images, text, numbers, and much more.

**Variables** are used to store this information. A variable is a "named storage" for data. Below are three examples, one variable called `x` that contains an integer, and another variable called `y` that contains a number with a decimal, and a variable called `z` that contains some text.

In [ ]:
x = 2021
y = 2.0
z = "CNRI"
print(x)
print(y)
print(z)

2021
2.0
CNRI

In [ ]:
b = 12
print(b)

12

A variable gets created the moment you first assign a value to it. All variables have a certain *type*, that indicates what kind of data that is being stored in it. The data types in the example above are an int (for integers), a float (for numbers with decimals), and a string (for text).

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

Variables do not need to be declared as any particular type ahead of time; this is done automatically. If you give the variable a new value of a different type, the type will automatically change as well.

In [ ]:
x = 5 # x is type int
print(x)
print(type(x))
x = "Hello world" # x is now type str
print(x)
print(type(x))

5
<class 'int'>
Hello world
<class 'str'>

You can also force a variable to take on a certain type using a technique called **casting**. To cast a variable, we use built-in python functions to change the type of the variable.

In [ ]:
x = 3
y = str(3) #cast to string
z = float(3) #cast to float
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

3
<class 'int'>
3
<class 'str'>
3.0
<class 'float'>

Be careful, however, not all type conversions are valid. For example, if we try to run this next cell, what do we imagine we will get?

---

In [ ]:
print(float('John'))

ValueError: ignored

_**A super cool feature of Google Colab, is that it's here to help you with potential errors you might experience as you get into coding. Click on the button above, where does it take you?_

You also need to be careful about *losing* information while casting. For example, the int() function will drop any decimal points given to it.

In [ ]:
print(float(3.14159))
print(str(3.14159))
print(int(3.14159))

3.14159
3.14159
3

You can also assign multiple variables at a time, or set one variable equal to another. If you change one of the variables, however, the other will remain the same. 

---
**What might be an instance in an experiment where you would want to change a variable?**

---

In [ ]:
x, y = 1, 2
z = x
x = x + 2
print(x)
print(y)
print(z)
print('Blast off!')

3
2
1
Blast off!

Note: this is not always the case with more complicated data types, such as sets, dictionaries, and lists, which you will learn about later.


_This is a very cool and powerful part of Python but can also cause some confusion if you are building a system that continually overwrites or changes variables. Something to keep in mind as you start to think about how to use pieces of code to build an entire script._

**Variable Naming**<br>
Variables can be named anything, as long as they obey certain rules. These rules are:
*   A variable name must start with a letter or an underscore (_)
*   Variable names cannot start with a number
*   Variable names can only contain alpha-numeric characters and underscores

Variables are also case sensitive. If a new variable has different capital letters than an old variable, a new variable will be created instead of overwriting the old one.

In [ ]:
var = 5
VAR = 10
VaR = "see?"
print(var)
print(VAR)
print(VaR)

5
10
see?

The most common variable naming conventions are "camel case" and "snake case". `thisIsCamelCase` and `this_is_snake_case`. Use whichever one you prefer!

###Exercise 1
Comment out the invalid variable names below (add a # at the beginning of the line). Think carefully and try to get it right on the first try!
<br>**Hint:** There are 5 valid variable names.

In [ ]:
#Comment out the invalid lines below!
myName = "Raphael"
#my name = "Raphael"
#my-name = "Raphael"
_my_name_with_underscores_ ="Raphael"
#my*name_with@symbols& = "Raphael"
_________ = "Raphael"
____ = 'Abby'
MyNaMe = "Raphael"
myAge = 26
#26age = 26
print(____, _________)
print("Correct!")

Abby Raphael
Correct!

## Data Types

There are many different kinds of data types. Python's data types include:
*   strings
*   integers
*   floats
*   booleans
*   lists
*   ranges
*   dicts
*   tuples

and many others! For a complete list, visit https://www.w3schools.com/python/python_datatypes.asp.

Today we will be focusing on four common data types: strings, integers, floats, and booleans.

### **Strings**
<br> Strings are used to store text. They can be surrounded by either single or double quotation marks.

In [ ]:
x = 'hello'
y = "world"
print(x)
print(y)
print(type(x))
print(type(y))

hello
world
<class 'str'>
<class 'str'>

Strings can also span multiple lines, using three double quotes.

In [ ]:
x = """This string spans multiple lines,
unlike regular strings which would
not allow you to do this"""
print(x)

This string spans multiple lines,
unlike regular strings which would
not allow you to do this

What happens if you try to break up a quote onto several lines without the triple quotes?

In [ ]:
y = """I want this string to also span multiple lines
but I think that the triple quotes look weird
so I do not want to use them!"""

---
**Why did this happen?**

---

What if you want to include a quote _in_ your string? For example, if I wanted to create an app that sent me positive quotes every morning.

Creating a string with a quotations mark is simple. You can always use one kind of quotations inside another, or use backslash to create an "escape quote", which doesn't affect the string.

In [ ]:
#print("This "wont" work. Comment me out!")
print("'Hello,' said Bill.")
print('"Hi", said Amy.')
print("This string has both 'single' AND \"double\" quotes!")

'Hello,' said Bill.
"Hi", said Amy.
This string has both 'single' AND "double" quotes!

We can also get the length of a string using the Python built-in `len()` function.

In [ ]:
x = "Mary had a little lamb"
print(len(x))

Question, are spaces counted in the length function? How could you figure this out (don't say counting)?

You will learn about lists and arrays another week, but it is possible to **index** each letter in a string by using square brackets.<br>
Note: the first element of the string is indexed with a 0, not a 1! You will learn more about this later.

In [ ]:
x = "Happy holidays!"
print(x[0])
print(x[10])
print(x[-1]) # indexing can be done backwards and forwards! Positive numbers index left to right, negative numbers index right to left

###Exercise 2
In the code block below, write code to print out the following quote, using only a single variable and print statement.

> "Programming isn't about what you know; <br>
> it's about what you can figure out." <br>
> \- Chris Pine (not the actor) 

Don't forget to include both the double and single quotes!

In [ ]:
#write your code here
print ('''"Programming isn\'t about what you know;
it\'s about what you can figure out."
- Chris Pine (not the actor)''')

"Programming isn't about what you know;
it's about what you can figure out."
- Chris Pine (not the actor)

### **Integers and Floats**
<br> Integers and floats are used to store integers and numbers with decimal points, respectively.

In [ ]:
x = 5
y = 5.0
print(type(x))
print(type(y))

Floats can also be scientific numbers with an "e" to indicate powers of 10.

In [ ]:
x = 28e3
y = 10e-1
z = -123.23e100

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

When combining two variables, if one is an integer and the other a float, the result will always also be a float.

In [ ]:
x = 5
y = 1.0
z = x + y
print(z)
print(type(z))

### **Booleans**
<br> This is probably the most unfamiliar concept to new programmers. Taking some time to get used to how Booleans function and how we use them might take a bit more time. 

In programming it is often useful to know if an expression is `True` or `False`. You can evaluate any expression in Python and get one of two answers, `True` or `False`.

In [ ]:
print(10 > 9)
print(10 < 9)

A boolean is just another kind of variable whose value happens to be `True` or `False`.


---
**Under what circusmtances would we want a Boolean variable in our experiment?** 

---

In [ ]:
x = True
y = 10 > 9
print(type(x))
print(type(y))

It is even possible to evaluate whether or not an integer or string is `True` or `False`. This is sometimes done to determine if a string is empty or not, or if a number is 0 or not.

In [ ]:
print(bool("Hello"))
print(bool(""))
print(bool(10))
print(bool(0))

---
**Why might we want some way of evaluating a variable like this in our experiment?**

---

Almost all values evaluate as True, as long as they have some sort of content. The exceptions are empty lists and similar data types, the number 0, and the value `None`.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

---
**What is the difference between a variable that is a Boolean and the `bool()` evaluator seen above?**

---

**Checking data types** <br>
One way to check the data type of a variable is with the built-in `isinstance()` Python function. The `isinstance()` function returns `True` or `False` if the variable is of that data type.

In [ ]:
x = 100
print(isinstance(x, int))
y = 3.0
print(isinstance(y, float))
z = "hello"
print(isinstance(y, bool))

##Operators

Now that we have learned how to create variables, let's learn how to manipulate them. Operators are used to perform operations on variables and values.

**Arithmetic operators** are used to perform common mathematical operations. Try manipulating `x` and `y` below to see how each operation behaves.

In [ ]:
x = 
y = 
print(x + y) #addition
print(x - y) #subtraction
print(x * y) #multiplication
print(x / y) #division
print(x ** y) #exponentiation
print(x % y) #remainder after division
print(x // y) #floor division (rounds down)

The **+** operator can also be used to combine strings together.

In [ ]:
x = "I love "
y = "Cognitive Neuroscience!"
print(x + y)

What happens when you try and combine different data types?

In [ ]:
x = 7
y = " days in a week"
print(x + y)

TypeError: ignored

What happens when you try and combine compatiable data types but with, different operators?

In [ ]:
a = 'I love learning Python'
b = 'Computer Programming'

print(a - b)

---
**Why might we want to combine strings in an experiment?**

---

###Exercise 3
How would you use casting to fix the code below?

In [ ]:
x = "Katy is "
y = 10
z = " years old."
print(x + y + z)

**Assignment Operators** are shorthands used to quickly update the values of variables. They include:

Operator | Same As
-------- | --------
x += 5 | x = x + 5
x -= 5 | x = x - 5
x *= 5 | x = x * 5
x /= 5 | x = x / 5
x **= 5 | x = x ** 5

In [ ]:
x = 5
x += 10
print(x)

y = 5
y *= 10
print(y)

In particular, x+=1 is often used in `for` and `while` loops, which you will learn about next week.

**Comparison Operators** are used to compare two values, and return a boolean.

In [ ]:
x = 
y = 
print(x == y) #equal
print(x != y) #not equal
print(x > y) #greater than
print(x < y) #less than
print(x >= y) #greater than or equal to
print(x <= y) # less than or equal to

Finally, **logical operators** are used to combine **conditional statements** (which we will expand upon below). 

The logical operators are `and`, `or`, and `not`.

In [ ]:
# and returns True if both statements are True
print(True and True)
print(True and False)
# or returns True if either statement is True
print(True or False)
print(False or False)
# not changes True to False and False to True
print(not True)
print(not False)

All of these operators can be combined to create complicated conditional expressions. Parantheses are used to organize groups within these expression. For example: `((_____ or ______) or (_____ and ______))` returns a single boolean `True` or `False`.

In [ ]:
a = 4
b = 5
c = 8
d = 10
print(a + b < c or (d%c == c/a and d > a))

# What is going on here?

###Exercise 4
Fill in the following code to make the expression evaluate as `True`.

Don't change the numbers, only the different operators available to you!

In [ ]:
x = 2
y = 4
z = 5
print((z ... y < x and x ... y) and (z < y ... z < x * y))

##Control Flow

### **If Statements** 

<br> When programming, one of the most important things we can do is to change what we are doing based on some *condition*. This is known as **control flow**. The most common kind of control flow is called an `if` statement.

---
**What are some examples of uses of control flow that you can think of?**

**Where might we use if statements in our experiments?**

---

In [ ]:
x = 8
if x > 9:
  print('x is greater than 9')
else:
  print('x is not greater than 9')

Often times though, we might want to compare across multiple conditions not just two. How can we do that?

`If` statements can be combined with `elif` and `else` blocks to give you greater control over conditions. `elif` blocks allow you to specify a new condition, and `else` blocks run if none of the above conditions are met.

In [ ]:
x = 10
if x > 10:
  print('x is greater than 10')
elif x < 10:
  print('x is less than 10')
else: 
  print('x is 10')

You'll notice above that you are still only making one comparison at a time. This means that the _order_ in which you specify your `If` statements is important! 

Think about the following example. How have we set up our conditions? Do you we think we will get the answer we want? Why or why not?

In [ ]:
x = 'apple'

if 'a' in x:
  print('x contains a')
elif 'e' in x:
  print('x contains e')
elif 'apple' in x:
  print('x contains apple')
elif x == 'apple':
  print('x is apple')
else:
  print('x has nothing to do with apples')

How can we improve the code above to get the output we want?

You can also nest `if` statements inside each other. 

Review the following code. What are the operations going on here? What will this code output if run as is?

In [ ]:
x = 10
if x > 20:
  if x%2 == 0:
    print('x is even')
  else:
    print('x is odd')
else:
  print('x isn\'t large enough')

Some programming languages rely on paratheses () and brackets {} to define the scope of the code. Python uses  **indentation** (white space at the beginning of a line, noted by the `tab` key). Everything that is indented belongs to the `if` statement.

###Exercise 5
The following function will tell you if an integer is odd or even, and whether it is greater than 10. However, the code doesn't work because of incorrect indentation. Fix the indentation to make it work!

In [ ]:
#try the following values of x: 3, 4, 10, 11, 12, 3.0, '3', and True
x = 3
if isinstance(x, int):
  if x > 10:
    if x%2 == 0:
      print('x is an integer, greater than 10, and even.')
    else:
      print('x is an integer, greater than 10, and odd.')
  else:
    if x%2 == 0:
      print('x is an integer, not greater than 10, and even.')
    else:
      print('x is an integer, not greater than 10, and odd.')
elif isinstance(x, str):
  print('x is a string')
else:
  print('x is neither an integer or string')

x is an integer, not greater than 10, and odd.

Finally, remember from before that we can use logical operators (`and`, `or`, and `not`) to build complicated, highly specific condition criteria.

In [ ]:
x = 5.1
if (isinstance(x, int) or isinstance(x, float)) and x > 5:
  print('x is greater than 5')
elif isinstance(x, str) and not len(x) <= 10:
  print('x has more than 10 characters')
else:
  print("Isn't programming fun?!")

## Your Turn
Now it your turn to put everything we have learned together.

###Exercise 6
Build a nested if statement that does the following:
- If the variable is an integer or float, then if it has more 5 numbers in it (**Hint:** how can you use casting and `len()` to check this?), then divide the number by 2, square the result, and the print out the following: `"The result is: ___" - Ashley`. If it doesn't have more than 5 numbers in it, increment it by 1 using an assignment operator and then print out: `"Whoops, ___ is too small!" - Bob`
- If the variable is a string and its length is greater than 10, then if the first letter in the string is an 'A', print out `"It's an A!" - Charlie`. if the first letter is not an 'A', print out the entire string followed by the last character 3 times (if the string is `"happy"`, print out `happyyyy`).
- If none of the above conditions apply, print out: `"Well, we tried!" - Daniela`.

In [ ]:
#Write your function here!
x = "Alphabetical order"
if (isinstance(x, int) or isinstance(x, str)):
  if len(str(x)) >= 5:
    print('"The result is: ' + str((x/2)**2) + '" - Ashley')
  else:
    x = 1
    print('"Whoops,"' + str(x) + '"is too small! - Bob"')
elif type(x) == str:
  if len(x) > 10:
    if x[0] == 'A':
      print('"It\'s an A!" - Charlie')
    else:
      print(str(x) + str(x[-1]) + str(x[-1]) + str(x[-1]))
else:
    print('"Well, we tried!" - Daniela')

TypeError: ignored

### Exercise 7

You are running a two part study to test the effects of rewards on attention. The first part of your study involves teaching your participants different cues that represent or are associated with different reward values (e.g., 1 dollar vs. 5 dollars). In order to make sure that by the second part of your study, your subjects have _actually_ learned the reward associations, you need to verify their performance. to measure performance, you are looking at 3 factors:

- Their total score on the learning test
- Their scores for each reward condition
- The number of trials it took them to reach learning stabilization

To organize your factors, you decide that the most important part is that their total score was above a 65 on the learning test. 

Next, they need to have scored at least a 30 in _both_ reward conditions. 

Finally, if they scored above a 85, it doesn't matter how many trials they did, but if they scored below 85 but equal to or above 70, they need to have done 200 trials, and if they're below 70, they need to have done 300 trials in order to move on. 

Build a nested if statement to solve the following problem and test the following participants:

```
Participant 112
Total Score: 88
Low reward condition: 22
High reward condition: 66
Number of trials: 336

Participant 134
Total Score: 70
Low reward condition: 35
High reward condition: 35
Number of trials: 187

Participant 191
Total Score: 50
Low reward condition: 34
High reward condition: 16
Number of trials: 476
```